package.json text eol=lf
package-lock.json text eol=lf
npm-shrinkwrap.json text eol=lf
runtime-dependencies.json text eol=lf
runtime-lock/package.json text eol=lf
runtime-lock/package-lock.json text eol=lf
